<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zisu.phoneMall.client.UserMapper">
    <resultMap id="BaseResultMap" type="edu.zisu.phoneMall.user.User">
        <id column="id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insert" parameterType="edu.zisu.phoneMall.user.User">
    insert into pm_user (user_name, user_paswd,user_type,status, create_date
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassWd,jdbcType=VARCHAR},1,sysdate()
      )
    </insert>
</mapper>